<%= form_with(model: @user, url: update_overtime_approval_user_path(@user), local: true, method: :patch) do |f| %>
  <div class="modal-dialog modal-lg modal-dialog-center">
    <div class="modal-content">
      <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
          <% @overtime_users.each do |user| %>
            <h3 class="modal-title center">【 <%= user.name %> からの残業申請】</h3>
            <table class="table table-bordered table-condensed table-hover" id="table-attendances">
              <thead>
                <tr>
                  <td>日付</td>
                  <td>曜日</td>
                  <td>終了予定時間</td>
                  <td>指定勤務終了時間</td>
                  <td>時間外時間</td>
                  <td>業務処理内容</td>
                  <td>指示者確認㊞</td>
                  <td>変更</td>
                  <td>勤怠を確認する</td>  
                </tr>
              </thead>
              <% @overtime_info.each do |info| %>
              <tbody>
                <tr>
                  <td><%= l(info.worked_on, format: :short) %></td>
                  <td><%= $days_of_the_week[info.worked_on.wday] %></td>
                  <td><%= l(info.overtime_at, format: :time) %></td>
                  <td><%= l(user.designated_work_end_time, format: :time) %></td>
                  <td><%= over_times(user.designated_work_end_time, info.overtime_at) %></td>
                  <td><%= info.work_content %></td>
                  <td><%= f.select :application, [['申請中'], ['承認'], ['否認']], {include_blank: false, selected: 1 } %></td>
                  <td><%= f.check_box :change, {}, "true", "false" %></td>
                  <td><%= link_to "確認", user_path(user), class: "btn btn-primary" %></td>
                </tr>
              </tbody>
              <% end %>
            </table>
          <% end %>
          </div>  
        </div>
        <div class="center">
          <%= f.submit "変更を送信する", class: "btn btn-lg btn-primary" %>
        </div>
      </div>
    </div>  
  </div>
<% end %>