<% provide(:title, @user.name) %>
<div class="container">
  <div>
    <table class="table table-bordered table-condenced user-table">
      <tr>
        <td>
          <% if current_user == @user %>
            <%= link_to "←", user_path(date: @first_day.prev_month), class: "btn btn-primary" %>
          <% end %>  
          　<%= l(@first_day, format: :middle) %>  時間管理表   　
          <% if current_user == @user %>
            <%= link_to "→", user_path(date: @first_day.next_month), class: "btn btn-primary" %>
          <% end %>  
        </td>
        <td>指定勤務開始時間  <%= format_basic_info(@user.designated_work_start_time) %><br>
            指定勤務終了時間  <%= format_basic_info(@user.designated_work_end_time) %></td>
        <td colspan="3">基本時間  <%= format_basic_info(@user.basic_time) %></td>
        <td>初日  <%= l(@first_day, format: :short) %></td>
      </tr>
      <tr>
        <td>所属　<%= @user.department.present? ? @user.department : "未所属" %></td>
        <td>氏名　<%= @user.name %></td>
        <td>コード</td>
        <td></td>
        <td>出勤日数 <%= @worked_sum %>日</td>
        <td>締め  <%= l(@last_day, format: :short) %></td>
      </tr>
    </table> 
  </div>
  <% if current_user == @user %>
    <% if current_user.superior %>
      <%= link_to "【 所属長承認申請のお知らせ 】", "#", class: "apply" %><br>
      <%= link_to "【 勤怠変更申請のお知らせ 】", "#", class: "apply" %><br>
      <% if @overtime_count >= 1 %>
        <%= link_to "【 残業申請のお知らせ 】", attendances_edit_overtime_approval_user_path, remote: true, class: "apply-notice" %>
        <span class="apply-notice-span"><%= "#{@overtime_count}件の通知があります" %></span><br>
      <% else %>
        <%= link_to "【 残業申請のお知らせ 】", attendances_edit_overtime_approval_user_path, remote: true, class: "apply" %><br>
      <% end %>  
    <% end %>
    <%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary" %>
    <%= link_to "CSV出力", "#", class: "btn btn-primary" %><br>
    <%= link_to "勤怠修正ログ（承認済）", "#", class: "btn btn-primary" %>
  <% end %>  

  <div>
    <table class="table table-bordered table-condenced table-hover" id="table-attendances">
      <thead>
        <tr>
          <td rowspan="0">残業申請</td>
          <td rowspan="0">日付</td>
          <td rowspan="0">曜日</td>
        </tr>
        <tr>
          <td colspan="8">【実績】</td>
          <td colspan="5">所定外勤務</td>
        </tr>
        <tr>
          <td colspan="3">出社</td>
          <td colspan="3">退社</td>
          <td rowspan="2">在社時間</td>
          <td rowspan="2">備考</td>
          <td colspan="2">終了予定時間</td>
          <td rowspan="2">時間外時間</td>
          <td rowspan="3">業務処理内容</td>
          <td rowspan="3">支持者確認㊞</td>
        </tr>
        <tr>
          <td>時</td>
          <td>分</td>
          <td></td>
          <td>時</td>
          <td>分</td>
          <td></td>
          <td>時</td>
          <td>分</td>
        </tr>
      </thead>

      <tbody id="body-attendances">
        <% @attendances.each do |day| %>
          <tr>
            <td>
              <% if current_user == @user %>
                <%= link_to "残業申請", attendances_edit_overtime_apply_user_path(day), 
                    remote: true, class: "btn btn-primary" %>
              <% end %>      
            </td>
            <td><%= l(day.worked_on, format: :short) %></td>
            <td>
              <% if day.worked_on.wday == 0 %>
                <font color="red"><%= $days_of_the_week[day.worked_on.wday] %></font>
              <% elsif day.worked_on.wday == 6 %>
                <font color="blue"><%= $days_of_the_week[day.worked_on.wday] %></font>
              <% else %>
                <%= $days_of_the_week[day.worked_on.wday] %>
              <% end %>
            </td>
            <td><%= day.started_at.strftime('%H') if day.started_at.present? %></td>
            <td><%= day.started_at.strftime('%M') if day.started_at.present? %></td>
            <td>
              <% if current_user == @user %>
                <% if btn_text = attendance_state(day) %>
                  <%= link_to "#{(btn_text)}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
                <% end %>
              <% end %>    
            </td>
            <td><%= day.finished_at.strftime('%H') if day.finished_at.present? %></td>
            <td><%= day.finished_at.strftime('%M') if day.finished_at.present? %></td>
            <td></td>
            <td>
              <% if day.started_at.present? && day.finished_at.present? %>
                <%= str_times = working_times(day.started_at, day.finished_at) %>
                <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
              <% end %>  
            </td>
            <td><%= day.note %></td>
            <td><%= day.overtime_at.strftime('%H') if day.overtime_at.present? %></td>
            <td><%= day.overtime_at.strftime('%M') if day.overtime_at.present? %></td>
            <td><%= off_hours(@user.designated_work_end_time, day.overtime_at, day.next_day) if day.overtime_at.present? %></td>
            <td><%= day.work_content %></td>
            <td><%= overtime_state(day) %>
            </td>
          </tr>  
        <% end %>  
      </tbody>
        <tr>
          <td></td>
          <td colspan="2"></td>
          <td colspan="6"></td>
          <td><%= format("%.2f", @total_working_times.to_f) %></td>
          <td colspan="5"></td>
          <td>
            <h6>所属長承認 未</h6><br>
            <% if current_user == @user %>
              <%= form_with model: @user do |f| %>
                <%= f.select :superior_confirmation, {'上長A':1, '上長B':2}, { include_blank: ''},
                                                { class: 'form-control' , required: true }%>
              <% end %><br>                               
              <%= link_to "申請", "#", class: "btn btn-block btn-primary" %>
            <% end %>  
          </td>
        </tr>
      <tfoot>

      </tfoot>
    </table>
  </div>
</div>

<div id="edit-overtime-apply" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-overtime-approval" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>