<%= form_with(model: @user, url: attendances_update_overtime_approval_user_path(@user), local: true, method: :patch) do |f| %>
  <div class="modal-dialog modal-lg modal-dialog-center">
    <div class="modal-content">
      <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
          <% @attendances.each do |user_id, attendances| %>
            <% user = User.find(user_id) %>
            <h3 class="modal-title center">【 <%= user.name %> からの残業申請】</h3>
            <table class="table table-bordered table-condensed table-hover" id="table-attendances">
              <thead>
                <tr>
                  <td>日付</td>
                  <td>曜日</td>
                  <td>終了予定時間</td>
                  <td>指定勤務終了時間</td>
                  <td>時間外時間</td>
                  <td>業務処理内容</td>
                  <td>指示者確認㊞</td>
                  <td>変更</td>
                  <td>勤怠を確認する</td>  
                </tr>
              </thead>
              <% attendances.each do |day| %>
                <%= f.fields_for "attendances[]", day do |approval| %>
                  <tbody>
                    <tr>
                      <td><%= l(day.worked_on, format: :short) %></td>
                      <td><%= $days_of_the_week[day.worked_on.wday] %></td>
                      <td><%= l(day.overtime_at, format: :time) %></td>
                      <td><%= l(user.designated_work_end_time, format: :time) %></td>
                      <td><%= off_hours(user.designated_work_end_time, day.overtime_at, day.next_day) %></td>
                      <td><%= day.work_content %></td>
                      <td><%= approval.select :overtime_status, ['申請中', '承認', '否認', 'なし'], {include_blank: false, selected: 1 } %></td>
                      <td><%= approval.check_box :change, {}, "true", "false" %></td>
                      <td><%= link_to "確認", user_path(user), class: "btn btn-primary" %></td>
                    </tr>
                  </tbody>
                <% end %>
              <% end %>
            </table>
          <% end %>
          </div>  
        </div>
        <div class="center">
          <%= f.submit "変更を送信する", class: "btn btn-lg btn-primary" %>
        </div>
      </div>
    </div>  
  </div>
<% end %>