  <div class="modal-dialog modal-lg modal-dialog-center">
    <div class="modal-content">
      <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h3 class="modal-title center">勤怠ログ</h3>

            <div>
              <%= form_with(url: attendances_show_attendance_log_user_path(@user), method: :get, remote: true) do |f| %>
                <%= f.date_select :year_month, { discard_day: true }, { class: 'form-control bootstrap-year-month' } %>
                <%= f.submit '検索', class: "btn btn-primary" %>
              <% end %>
            </div>

            <table class="table table-bordered table-condensed table-hover" id="table-attendances">
              <thead>
                <tr>
                  <td>日付</td>
                  <td>変更前出社時間</td>
                  <td>変更前退社時間</td>
                  <td>変更後出社時間</td>
                  <td>変更後退社時間</td>
                  <td>指示者</td>
                  <td>承認日</td>
                </tr>
              </thead>
              <tbody id="body-attendances">
                <% @logs.each do |day| %>
                  <% if day.change_status == '承認' %>
                    <tr>
                      <td><%= day.worked_on %></td>
                      <% if day.started_at == day.change_started_at %>
                        <td></td>
                        <td></td>
                      <% else %>  
                        <% if day.started_at.present? %>
                          <td><%= day.started_at.strftime('%H:%M') %></td>
                        <% else %>
                          <td><%= day.before_started_at.strftime('%H:%M') if day.before_started_at.present? %></td>
                        <% end %> 
                        <% if day.finished_at.present? %> 
                          <td><%= day.finished_at.strftime('%H:%M') %></td>
                        <% else %>
                          <td><%= day.before_finished_at.strftime('%H:%M') if day.before_finished_at.present? %></td>
                        <% end %>
                      <% end %>  
                      <td><%= day.change_started_at.strftime('%H:%M') if day.change_started_at.present? %></td>
                      <td><%= day.change_finished_at.strftime('%H:%M') if day.change_finished_at.present? %></td>
                      <td><%= day.superior_check %></td>
                      <td><%= day.approval_day %></td>
                    </tr>
                  <% end %>  
                <% end %>
              </tbody>
            </table>
          </div>  
        </div>
      </div>
    </div>  
  </div>